body {
    text-align: center;
}

.celebrate {
    color: darkmagenta;
    background-color: salmon;
}

td {
    text-align: center;
}

#guess-data {
    margin: auto;
    border: solid teal;
}

#guess-count {
    display: flex;
    margin: auto;
    height: 30px;
    width: 30px;
    padding: 15px;
    border: solid green;
    justify-content: center;
}

#submit-btn, #range-btn {
    margin: 20px;
}

.errorMsg{
    color: red;
}